# Virtual environment
sieci_project_env/

# Caches
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.cache/

# Output files
# *.html
# *.png
# *.jpg
# *.jpeg
# *.svg

# Logs and temp files
*.log
*.tmp
*.bak

# OS-specific
.DS_Store
Thumbs.db
